body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  margin-top: 150px;
  margin-left: 566px;
}

.menu-block {
  position: relative;
  border: 1px solid black;
  width: 235px;
  height: 215px;
}

#menu-list {
  width: 40%;
  list-style: none;
  padding: 0px;
  display: inline-block;
  position: absolute;
  height: 85%;
  margin: 0px;
}

.list-item {
  margin-bottom: 15px;
}

#small-img {
  height: 100%;
  width: 60%;
  position: absolute;
  margin-left: 94px;
  margin-top: -32px;
}

#heading-list {
  margin: 0px;
  margin-bottom: 10px;
  width: 40%;
  }

#img-div {
  width: 60%;
  display: inline-block;
  position: relative;
}

#outer {
  height: 160px;
  width: 236px;
  /* border: 1px solid black; */
  position: relative;
  background-color: lightgray;
}

#mid {
  height: 160px;
  width: 160px;
  /* border: 1px solid black; */
  margin-left: 37px;
  border-radius: 80px;
  position: absolute;
  background-color: white;
}

#inner {
position: absolute;
  height: 50px;
  width: 50px;
  /* border: 1px solid black; */
  border-radius: 50%;
  margin-top: 55px;
  margin-left: 55px;
  background-color: lightgray;

}

.menu-button{
  position: absolute;
  margin-left: 55px;
  margin-top: 20px;
}

#prev {
  position: absolute;
  margin-top: 77px;
  margin-left: 20px;
}
#forward {
  position: absolute;
  margin-top: 77px;
  margin-left: 125px;
}
#play-pause {
  position: absolute;
  margin-top: 125px;
  margin-left: 73px;
}

.active{
  background-color: lightslategrey;
}